<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/index.css">
    <title>Registration Page</title>
</head>
<body>
    <header>
        <h1>Register Here</h1>
    </header>
    <main>
        <center>
            <form action="/register" method="POST">
                <input type="text" placeholder="Name" id="input-name">
                <input type="email" placeholder="Email" id="input-email">
                <input type="password" placeholder="Passeword" id="input-password">
                <input type="submit" id="submit-btn">
            </form>
        </center>
    </main>
    
</body>
</html>