.header-nav{
    width: 100%;
    background: #3b708b;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
}
.ant-tag>a{
    margin: 0px 20px;
    text-decoration: none;
    color: aqua;
}
.ant-tag>a:hover{
    color: yellow;
    padding-left: 5px;
}
.search-container{
    background: #fff;
    align-items: center;
}
#search-bar{
    width: 85%;
    margin: auto;
    padding: auto;
    border-color: #fff;
    box-sizing: border-box;
}
.search-container>.fa-solid{
    margin: 0;
    height: 10px;
    background-color: #fff;
    border: none;
    color: #000000;
    align-items: center;
}
#count-item{
    font-size: 25px;
    color: rgb(232, 7, 7);
}
.add-cart:hover{
    transform: scale(1.50);
    cursor: pointer;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.product-box {
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.product-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 5px 0;
}
.add-to-cart-btn {
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}
.add-to-cart-btn:hover {
    transform: scale(1.10);
    background-color: darkgreen;
}
.delete-to-cart-btn {
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}
.delete-to-cart-btn:hover {
    background-color:darkred;
    transform: scale(1.20);
}
#cart-section {
    width: 200px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9;
}
#cart-items {
    max-height: 100px;
    overflow-y: auto;
}
#total-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.outer-div{
    display: flex;
    justify-content: center;
}
