<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/create.css">
    <title>Create-Product</title>
</head>
<body>
    <header>
        <h1>
            ADD YOUR PRODUCTS IN THE ITEM LIST
        </h1>
    </header>
    <center>
        <div id="container">
            <input type="text" placeholder="Enter the name of the products" id="name">
            <input type="text" placeholder="Enter Caregory or the products" id="category">
            <input type="text" placeholder="Enter the description of the products" id="desc">
            <input type="text" placeholder="Enter the price of the of the products" id="price">
            <input type="text" placeholder="Enter the img-source of the product" id="img">
            <button id="submit">Submit</button>
        </div>
    </center>
    <script src="indexFr.js"></script>
</body>
</html>